.box {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* min-height: 1vh; */
    /* flex-wrap: wrap; */
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 1em 1em 0.5em 1em;
    margin: 1em;
    background: rgba(255, 255, 255, .1);
}

.trashChangeColor {
    padding: 0;
    float: right;
}

.trashChangeColor:hover {
    color: #a50e48;
}
