.companyPage {
    display: flex;
    flex-direction: column;
}

.companyOptions {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: center;
    margin: 0 3em;
}

.overBaseCard {
    /* margin: auto; */
    width: 35%;
    margin-top: -1em;
    /* padding: :; */
}

.customSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding: 1em; */
    /* margin-top: 1em; */
}

.customSelect select {
    background-color: rgba(0, 204, 255, 0.719);
    border-radius: 20px;
    color: white;
    padding: 0.5em;
    margin: 0 0.5em;
    width: 200px;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    /* margin-right: 1em; */
    border: solid 2px rgba(0, 204, 255, 0.719);
    margin-bottom: 0.5em;
    width: 100%;
}

.customSelect select option {
    margin: 40px;
    border-style: solid;
    background-color: rgba(2, 115, 143, 0.719);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4) !important  ;
}

.customSelect button {
    border: solid 2px rgba(0, 204, 255, 0.719);
}

.contentRow {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0.2em 0;
}

.contentRow p {
    padding: 0 5px;
}

.contentRow .pTitle {
    font-style: bold;
    font-weight: 800;
}

.contentRow .pVariable {
    font-style: italic;
    font-weight: 200;
}

.plot {
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 80%;
    margin: auto;
    height: 100%;
}

.plot img {
    width: 100%;
}

.plotBox {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    margin: 20px;
}

.plotBox:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    filter: blur(1em);
}

.plotBox:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.plotBox:nth-child(1):before,
.plotBox:nth-child(1):after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.plotBox:nth-child(2):before,
.plotBox:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.plotBox:nth-child(3):before,
.plotBox:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2196F3);
}

.analyzeCompany {
    display: flex;
    flex-direction: column;
    margin: 0 4em;
    width: 25%;
}

.selectButton button {
    padding-top: 2em;
}

#selectButton {
    margin: 0 auto;
}

.customInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.2em 1em 0.2em;
}

.customInput label{
    margin: 0 auto;
    color: #fff;
    width: 10em;
    display: flex;
    justify-content: center;
}

.customInput input {
    background: rgba(255, 255, 255, .1);
    display: block;
    margin: 0 auto;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    color: #ccc;
    width: 10em;
}

.varResult {
    color: #fff;
    width: 78%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 1em;
}

.varResult p {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.varResultParameters {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    column-gap: 1em;
    row-gap: 0.2em;
    justify-items: center;
    padding-bottom: 1em;
}

#varValue {
    text-align: center;
    font-weight: 600;
}

.customInputSection {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.multiSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 1em 0;
    width: 100%;
}

.multiSelectBox {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.multiSelect button {
    color: white;
    padding: 0;
    border: solid 2px rgba(0, 204, 255, 0.116);
    background-color: rgba(0, 204, 255, 0.116);
    padding: 0.5em 1em;
    /* margin: 0 0.8em; */
    border-radius: 20px;
}

.multiSelect form label {
    padding: 1em;
}

#var:hover {
    border: solid 2px rgba(0, 204, 255, 0.719);
    background-color: rgba(0, 204, 255, 0.719);
}

#hurst:hover {
    border: solid 2px rgba(0, 204, 255, 0.719);
    background-color: rgba(0, 204, 255, 0.719);
}

.errorMessageContainer {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    font-size: 1.5em;
}

.errorMessageContainer p {
    color: white;
}

.dateInput{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dateInputUnit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    /* padding-right: 10px; */
    padding: 0 0 1em 0;
}

.dateInputUnit label{
    margin: auto;
}

.dateInputUnit input{
    background-color: rgba(0, 204, 255, 0.719);
    border: solid rgba(0, 204, 255, 0.719);
    border-radius: 20px;
    color: #fff;
    padding: 0.5em;
    color-scheme: dark;
}
