@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

.aboutVaR {
    font-family: 'Ubuntu', sans-serif,;
    font-size: 1.2em;
}

#varQuote {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.varTitle {
    font-size: 1.3em;
    padding-bottom: 0.2em;
}

.varContent {
    padding-left: 1em;
    padding: 0.5em 1em;
}
